Repository CentaurusInfra/mizar, pull requests merged in 2020-12, with the labels that each got.

#289 transit agent XDP prog to enforce egress policy check
  src/xdp/trn_agent_xdp.c
Labels: area/networkPolicy, tech/xdp

#292 transit xdp to enforce ingress policy
  src/xdp/trn_transit_xdp.c
Labels: area/networkPolicy, tech/xdp

#297 enforce egress policy with tcp and udp packets only
  src/xdp/trn_agent_xdp.c
Labels: area/networkPolicy, tech/xdp

#299 create and pin conntrack map
  src/dmn/trn_agent_xdp_usr.c
  src/dmn/trn_agent_xdp_usr.h
  src/dmn/trn_transit_xdp_usr.c
  src/dmn/trn_transit_xdp_usr.h
  src/xdp/trn_agent_xdp_maps.h
Labels: area/networkPolicy

#302 insert tcp or udp connection to conn_track map
  src/dmn/trn_agent_xdp_usr.c
  src/dmn/trn_transit_xdp_usr.c
  src/xdp/conntrack_common.h
  src/xdp/trn_agent_xdp.c
  src/xdp/trn_transit_xdp.c
Labels: area/networkPolicy, conn_track

#300 Adding design doc for network policy support
  docs/design/dp_network_policy.md
  docs/design/png/network_policy_architecture.png
  docs/design/png/network_policy_flows.png
Labels: area/networkPolicy

#308 remove connection from conn_track when policy explicitly denies it
  src/xdp/conntrack_common.h
  src/xdp/trn_agent_xdp.c
  src/xdp/trn_transit_xdp.c
Labels: area/networkPolicy, conn_track

#311 conn_track: add is_reply function to check a packet being reply of a tracked connection or not
  Makefile
  src/extern/jhash.h
  src/xdp/conntrack_common.h
  src/xdp/trn_agent_xdp.c
  src/xdp/trn_kern.h
  src/xdp/trn_transit_xdp.c
Labels: area/networkPolicy, conn_track

#314 NetworkPolicy: Handling events: Add/Update NetworkPolicy (kopf)
  install/environment_adaptors/k8s_kind_adaptor.sh
  kind-setup.sh
  mizar/dp/mizar/operators/networkpolicies/__init__.py
  mizar/dp/mizar/operators/networkpolicies/networkpolicies_operator.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/__init__.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/bootstrap.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/delete.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/provisioned.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/triggers.py
  mizar/dp/mizar/workflows/mizar_wf_factory.py
  mizar/obj/networkpolicy.py
  mizar/obj/tests/test_networkpolicy.yaml
  mizar/operator.py
  mizar/store/operator_store.py
  setup.py
Labels: area/networkPolicy

#322 refactor: egress policy enforce has param of tunnel id and ipv4 tuple
  src/xdp/trn_agent_xdp.c
Labels: area/networkPolicy, conn_track

#321 exposes maps of network policies and conn_track to ingress/egress xdp progs
  src/dmn/trn_agent_xdp_usr.c
  src/dmn/trn_agent_xdp_usr.h
  src/dmn/trn_transit_xdp_usr.c
  src/dmn/trn_transit_xdp_usr.h
  src/include/shared_map_names.h
  src/xdp/shared_map_defs.h
  src/xdp/trn_agent_xdp_maps.h
  src/xdp/trn_transit_xdp_maps.h
Labels: area/networkPolicy, conn_track

#320 Add starter methods for calculating from networkpolicy to bitvalues map #319
  docs/design/dp_network_policy.md
  mizar/common/kubernetes_util.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
  mizar/obj/data_networkpolicy.py
  mizar/obj/endpoint.py
Labels: area/networkPolicy

#324 Calculate networkpolicy ipblock selector and pod selector
  mizar/dp/mizar/operators/networkpolicies/networkpolicies_operator.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
Labels: area/networkPolicy

#326 Calculate networkpolicy definition to map entries #277
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
Labels: area/networkPolicy

#325 egress and ingress xdp consult the derived policy to check reply UDP packets
  src/xdp/conntrack_common.h
  src/xdp/trn_agent_xdp.c
  src/xdp/trn_transit_xdp.c
Labels: area/networkPolicy, conn_track

#330 conn_track: set connection state for traffic denied by policy instead of simple removal
  src/include/trn_datamodel.h
  src/xdp/conntrack_common.h
  src/xdp/trn_agent_xdp.c
  src/xdp/trn_transit_xdp.c
Labels: area/networkPolicy, conn_track

#328 Calculate networkpolicy namespace selector
  mizar/common/common.py
  mizar/common/kubernetes_util.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
  mizar/networkpolicy/__init__.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/obj/tests/test_namespace_1.yaml
Labels: area/networkPolicy

#333 conntrack xdp prog refactored to remove goto etc
  src/xdp/conntrack_common.h
  src/xdp/trn_agent_xdp.c
  src/xdp/trn_transit_xdp.c
Labels: area/networkPolicy, conn_track

#335 design doc: tracked connection has state
  docs/design/dp_network_policy.md
Labels: area/networkPolicy, conn_track
