Repository CentaurusInfra/mizar, pull requests merged in 2021-01, with the labels that each got.

#338 Send networkpolicy data from operator to daemon
  mizar/common/rpc.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/obj/endpoint.py
Labels: area/networkPolicy

#354 Networkpolicy adds label_networkpolicies map into operator_store
  mizar/dp/mizar/operators/networkpolicies/networkpolicies_operator.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/obj/networkpolicy.py
  mizar/store/operator_store.py
Labels: area/networkPolicy

#356 Retrieve affected labels when pod changes
  mizar/dp/mizar/workflows/builtins/pods/create.py
  mizar/dp/mizar/workflows/builtins/pods/delete.py
  mizar/dp/mizar/workflows/builtins/pods/triggers.py
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy

#358 Networkpolicy handles pod update/delete
  mizar/dp/mizar/operators/networkpolicies/networkpolicies_operator.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/triggers.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/obj/networkpolicy.py
  mizar/store/operator_store.py
Labels: area/networkPolicy

#360 Add map in operator store: key is namespace's label, value is networkpolicies
  mizar/networkpolicy/networkpolicy_util.py
  mizar/store/operator_store.py
Labels: area/networkPolicy

#359 doc: mizar network performance test
  docs/dev/network-perf-test.md
Labels: documentation

#361 Networkpolicy handles namespace update/delete
  mizar/dp/mizar/workflows/builtins/namespaces/__init__.py
  mizar/dp/mizar/workflows/builtins/namespaces/bootstrap.py
  mizar/dp/mizar/workflows/builtins/namespaces/create.py
  mizar/dp/mizar/workflows/builtins/namespaces/delete.py
  mizar/dp/mizar/workflows/builtins/namespaces/provisioned.py
  mizar/dp/mizar/workflows/builtins/namespaces/triggers.py
  mizar/dp/mizar/workflows/mizar_wf_factory.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/operator.py
Labels: area/networkPolicy

#364 Handling events: Delete NetworkPolicy (kopf)
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/delete.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/obj/endpoint.py
  mizar/store/operator_store.py
Labels: area/networkPolicy

#366 basic network metrics of kindnet and cilium
  docs/dev/network-perf-test.md
Labels: documentation

#371 When deleting a networkpolicy, make sure all its references in all related maps are deleted
  mizar/networkpolicy/networkpolicy_util.py
  mizar/store/operator_store.py
Labels: area/networkPolicy

#380 NetworkPolicy should only affect pods in the same namespace
  mizar/common/common.py
  mizar/dp/mizar/operators/networkpolicies/networkpolicies_operator.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
  mizar/dp/mizar/workflows/builtins/networkpolicies/delete.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/obj/networkpolicy.py
Labels: area/networkPolicy

#387 Handle Default Network Policies
  mizar/dp/mizar/workflows/builtins/networkpolicies/create.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/obj/data_networkpolicy.py
  mizar/obj/networkpolicy.py
  mizar/obj/tests/test_networkpolicy_default_allow_egress.yaml
  mizar/obj/tests/test_networkpolicy_default_allow_ingress.yaml
  mizar/obj/tests/test_networkpolicy_default_deny_egress.yaml
  mizar/obj/tests/test_networkpolicy_default_deny_ingress.yaml
Labels: area/networkPolicy

#392 NetworkPolicy ports field should be optional for ingress/egress rules
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy

#393 fix typo
  mizar/obj/tests/test_networkpolicy_default_allow_egress.yaml
  mizar/obj/tests/test_networkpolicy_default_allow_ingress.yaml
Labels: area/networkPolicy

#398 NetworkPolicy Issue: KeyError: 'default:default-allow-egress_egress_0'
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy

#399 NetworkPolicy Issue: KeyError: 'metadata'
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy

#400 Bug fix for protocol port map update and delete
  src/cli/test/test_cli.c
  src/cli/trn_cli_network_policy.c
  src/dmn/test/test_dmn.c
  src/dmn/trn_agent_xdp_usr.c
  src/dmn/trn_agent_xdp_usr.h
  src/dmn/trn_rpc_protocol_handlers_1.c
  src/dmn/trn_transit_xdp_usr.c
  src/dmn/trn_transit_xdp_usr.h
  src/rpcgen/trn_rpc_protocol.x
Labels: do_not_merge

#407 Fix Bugs: Code error to check whether the policy data has changed or not
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy

#410 Fix issue: NetworkPolicy Issue: Contained cidrs should have policy bitmap value overlapping
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy

#411 Fix typo: _pod_ should be _namespace_
  mizar/dp/mizar/workflows/builtins/namespaces/create.py
  mizar/dp/mizar/workflows/builtins/namespaces/delete.py
Labels: area/networkPolicy

#412 Fix policy update issue
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy

#414 For NetworkPolicy, fix pod creating issue
  mizar/common/common.py
  mizar/dp/mizar/workflows/builtins/pods/create.py
  mizar/dp/mizar/workflows/endpoints/provisioned.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/obj/endpoint.py
  mizar/obj/networkpolicy.py
  mizar/store/operator_store.py
Labels: area/networkPolicy

#415 Fix for issue of ingress only change to egress only
  mizar/networkpolicy/networkpolicy_util.py
  mizar/store/operator_store.py
Labels: area/networkPolicy

#417 NetworkPolicy feature: Creating a pod in certain namespace, it affects policy data
  mizar/common/common.py
  mizar/dp/mizar/workflows/builtins/pods/create.py
  mizar/dp/mizar/workflows/builtins/pods/delete.py
  mizar/dp/mizar/workflows/builtins/pods/triggers.py
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy

#418 Fix cidr-trie issue and policy deleting issue
  mizar/common/ipv4_trie.py
  mizar/networkpolicy/networkpolicy_util.py
  setup.py
Labels: area/networkPolicy

#419 mizar cni: cmd version not to attempt the parsing none args into dict
  mizar/cni/mizarcni.py
Labels: bug

#421 Fix issue: when pod update, no effect to policy
  mizar/dp/mizar/workflows/builtins/pods/create.py
Labels: area/networkPolicy

#423 Fix policy issue when deleting pod
  mizar/dp/mizar/workflows/builtins/pods/delete.py
  mizar/dp/mizar/workflows/builtins/pods/triggers.py
  mizar/networkpolicy/networkpolicy_util.py
  mizar/store/operator_store.py
Labels: area/networkPolicy

#425 NetworkPolicy: Fix pod deleting issue
  mizar/networkpolicy/networkpolicy_util.py
Labels: area/networkPolicy
